/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1f8a1f;
    color: white;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    margin: 20px;
}

/* Estilos para la barra lateral */
.sidebar {
    width: 20%;
    background-color: #1f8a1f;
    padding: 20px;
    color: white;
}

.sidebar h2 {
    margin-bottom: 1rem;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Estilos para el contenido principal */
main {
    width: 75%;
    margin-left: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #1f8a1f;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f4f4f4;
}

button {
    padding: 10px 15px;
    background-color: #1f8a1f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.add-cell {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.add-cell:hover {
    background-color: #0056b3;
}


footer {
    background-color: #1f8a1f;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}

@media (max-width: 710px) {
    .sidebar {
        display: none; 
    } 
    .fondoblanco {width:100% ;overflow-x:auto;}
  }
  

 
  